@model IEnumerable<Dominio.EntidadesNegocio.Planta>

@{
    ViewData["Title"] = "BuscarPlantasPorAmbiente";
}

<body class="container-fluid bg-dark text-light">

    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="text-center">Buscar plantas por tipo de ambiente</h1>

            <form class="form-group" enctype="multipart/form-data" method="post" id="formAmbientes">
                <label class="control-label" for="idSlcTipoAltura">Seleccione tipo de ambiente:</label>
                <select class="form-control" id="idSlcTipoAltura" name="ambi">
                    <option disabled selected value="-1">Seleccione una opcion</option>
                    <option value="interior">Interior</option>
                    <option value="exterior">Exterior</option>
                    <option value="mixta">Mixta</option>
                </select>
                <br />

                <div>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
                <br />
                <p id="pMensaje" class="text-danger"></p>
            </form>
            <span class="text-danger">@ViewBag.Error</span>
            <div class="pb-2">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (ViewBag.Buscando == "ok")
            {
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th>
                                Foto
                            </th>
                            <th>
                                Nombre cientifico
                            </th>
                            <th>
                                Nombres vulgares
                            </th>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Tipo de ambiente
                            </th>
                            <th>
                                Tipo de planta
                            </th>
                            <th>
                                Altura
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @foreach (var foto in item.FotosDePlanta)
                                    {

                                        <img src="~/img/@foto.NombreFoto" height="60" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCientifico)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombresVulgares)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescripcionPlanta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoAmbiente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo.NomTipoPlanta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlturaMaxima.ValorParametro)
                                </td>
                                <td>
                                    @Html.ActionLink("CuidadosPlanta", "CuidadosPlanta", new { id = item.IdPlanta })
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</body>


@section Scripts {
    <script>
        document.querySelector("#formAmbientes").addEventListener('submit', validarForm);
        function validarForm(evento) {
            evento.preventDefault();

            let sel = document.querySelector("#idSlcTipoAltura").value;

            let mensaje = "";

            if (sel != "-1") {
                this.submit();
            }
            else {
                mensaje = "Debe seleccionar una opcion del campo desplegable";
            }
            document.querySelector("#pMensaje").innerHTML = mensaje;
        }
    </script>
}